Repository MIT-Emerging-Talent/ET6-foundations-group-01, pull requests merged in 2025-01, with the labels that each got.

#55 Add input validation and tests for sum_of_digits
  solutions/sum_of_digits.py
  solutions/tests/test_sum_of_digits.py
Labels: enhancement

#59 update learning goals document with refined objectives and tasks
  collaboration/learning_goals.md
Labels: documentation

#61 adding README update
  README.md
Labels: documentation

#76 solution 1: binary_to_decimal_conversion
  collaboration/constraints.md
  solutions/binary_to_decimal.py
  solutions/tests/test_binary_to_decimal.py
Labels: Solution

#85 Restore constraints file
  collaboration/constraints.md
Labels: enhancement

#67 Adding add two numbers
  solutions/add_two_numbers.py
  solutions/tests/test_add_two_numbers.py
Labels: Solution

#71 Adding is_palindrome and test_is_palindrome
  solutions/is_palindrome.py
  solutions/tests/test_is_palindrome.py
Labels: Solution

#57 Added my function, 2 unittest for my first solution on weight conversion
  solutions/tests/test_kilograms_to_pounds.py
  solutions/tests/test_pounds_to_kilogram.py
  solutions/weight_conversion.py
Labels: Solution

#72 Solution 2: Sum of odd numbers
  solutions/count_character_occurrences.py
  solutions/sum_odd_numbers.py
  solutions/tests/test_count_character_occurrences.py
  solutions/tests/test_sum_odd_numbers.py
Labels: Solution

#95 adding docstring format after review
  solutions/binary_to_decimal.py
  solutions/tests/test_binary_to_decimal.py
Labels: documentation

#96 Updated calculate median soluation after the markdown error
  solutions/calculate_median.py
  solutions/tests/test_calculate_median.py
Labels: Solution

#94 refactor count_vowels
  solutions/count_vowels.py
Labels: enhancement

#87 Function and test file for my second solution
  solutions/calculate_and_classify_bmi.py
  solutions/tests/test_calculate_and_classify_bmi.py
Labels: Solution

#99 adding case insensitive test case
  solutions/emoji_sentiment.py
  solutions/tests/test_emoji_sentiment.py
Labels: Solution

#84 Calculate the Number of Days Passed in 2025
  solutions/days_passed_2025.py
  solutions/tests/test_days_passed_2025.py
Labels: Solution

#106 Added team members' full names to settings.json
  .vscode/settings.json
Labels: enhancement

#111 Add retrospective document with meeting outcomes and action points
  collaboration/guide/assets/retro.png
  collaboration/retrospective.md
Labels: documentation

#101 Solution 1: Added comprehensive module-level docstring
  solutions/count_character_occurrences.py
  solutions/tests/test_count_character_occurrences.py
Labels: enhancement, Solution

#103 Solution 2: Added comprehensive module-level docstring
  solutions/sum_odd_numbers.py
Labels: enhancement, Solution

#112 Partial update to README.md
  README.md
  solutions/calculate_median.py
  solutions/capitalize_character.py
  solutions/convert_fahrenheit_to_celsius.py
  solutions/even_numbers.py
  solutions/weight_conversion.py
Labels: documentation

#92 average_of_integers
  solutions/average_of_integers.py
  solutions/tests/test_average_of_integers.py
Labels: Solution

#121 Add num-square functionality and tests
  solutions/num_square.py
  solutions/tests/test_num_square.py
Labels: Solution

#134 Add detailed notes for Ruff usage and file verification process
  collaboration/guide/assets/vscode_1.png
  notes/README.md
Labels: documentation

#138 I reviewed my previous and merged PR sort_words because it did not pass the py.f…
  solutions/sort_words.py
  solutions/tests/test_sort_words.py
Labels: Solution

#135 Learning goals
  collaboration/learning_goals.md
Labels: enhancement

#133 Sum of the squares of the numbers in a list
  solutions/sum_of_squares.py
  solutions/tests/test_sum_of_squares.py
Labels: Solution

#131 Modified convert salary
  solutions/convert_salary.py
  solutions/tests/test_convert_salary.py
Labels: Solution

#136 Edit first second solution
  solutions/calculate_median.py
  solutions/capitalize_character.py
  solutions/tests/test_calculate_median.py
  solutions/tests/test_capitalize_character.py
Labels: Solution

#127 fix formating issue
  solutions/fizzbuzz.py
  solutions/tests/test_fizzbuzz.py
Labels: enhancement

#139 Multiply two numbers
  solutions/multiply_two_numbers.py
  solutions/tests/test_multiply_two_numbers.py
Labels: Solution
